canvas {
  width: 100%;
  height: 100%;
  background: #b5b5b5;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;     /* to hide the vertical scroll bar that appears automatically */
}

/* hide hint bloack with any keydown*/
.keydown {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 1s, opacity 1s linear;    /* For Webkit browser(Chrome, Safari...) */
    -moz-transition: visibility 0s 1s, opacity 1s linear;       /* For Mozilla browser */
    -o-transition: visibility 0s 1s, opacity 1s linear;         /* For Opera browser */
    -ms-transition: visibility 0s 1s, opacity 1s linear;        /* For Microsoft browser */
    transition: visibility 0s 1s, opacity 1s linear;            /* For all browser(Newest version) */
}

#hint .message {
  display: inline-block;
  background: white;
  color: #666666;
  font-family: "Lucida Grande", verdana, sans-serif;
  font-size: 12px;
  line-height: 32px;
  border-radius: 10.56px;
  padding: 0 16px;
}

#hint {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
}